<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> YO </title>
    <style>
      .flex-container {
        display: flex;
        align-items: center; /* You can use 'baseline' if you prefer */
        gap: 1rem;           /* Adds some space between the button and paragraph */
      }
      p {
        margin: 0;           /* Remove default paragraph margin */
      }
    </style>
</head>
<body>
  <div class="flex-container">
    <button id="record" style="width: 70px; height: 25px;">
      Start
    </button>
    <button id="stop" style="width: 70px; height: 25px;">
      Stop
    </button>
    <p id="status"></p>
  </div>
    
    <p id="insert"> </p>
    

    <script src="https://cdn.jsdelivr.net/npm/onnxruntime-web@1.14.0/dist/ort.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@ricky0123/vad-web@0.0.22/dist/bundle.min.js"></script> -->
    <script src="{{ url_for('static', filename='js/bundle.min.js') }}"></script>
    <script>
      // === Global Variables ===
      let myvad                         // The VAD instance.
      const insert = document.getElementById('insert')
    
      // // Default V5 ProcessorOptions
      // export const defaultV5FrameProcessorOptions: FrameProcessorOptions = {
      //   positiveSpeechThreshold: 0.5, // Thresholds may greatly vary depending on the environment its being used. 0.5 is good for a decently high volume mic input.
      //   negativeSpeechThreshold: 0.5 - 0.15,
      //   preSpeechPadFrames: 3, // This does not matter (since we do preSpeechPadding ourselves. )
      //   redemptionFrames: 24, // This can be changed to 16.
      //   frameSamples: 512,
      //   minSpeechFrames: 9, // This can be lowered for better single word detection. (But also does not matter since we treat VADMisfire Same as SpeechEnd)
      //   submitUserSpeechOnPause: false,
      // }
      // === VAD Instance Creation & Starting ===
      async function main() {
        myvad = await vad.MicVAD.new({
          model: "v5",
          frameSamples: 512,
          redemptionFrames: 16,
          preSpeechPadFrames: 8,
          endSpeechPadFrames: 8,
          positiveSpeechThreshold: 0.4,
          negativeSpeechThreshold: 0.4 - 0.15,
          minSpeechFrames: 2,
          numFramesToEmit: 32,
          onEmitChunk: handleEmitChunk
        });
        myvad.start();
      }

      function handleEmitChunk(frames) {
        console.log("Emit Chunk", frames.length)
        sockets[0].send(frames)
      }
    
      // === Button Control Logic ===
      const record_button = document.getElementById('record');
      const stop_button = document.getElementById('stop')
      const status = document.getElementById('status')
      let isFirstClick = true;
      let sockets = []
      record_button.onclick = () => {
        if (isFirstClick) {
          // Initialize websocket after user clicks record. 
          
          status.textContent = "Initializing"
        
          const socket = new WebSocket('ws://127.0.0.1:5005/save');

          socket.onerror = (event) => {
            status.textContent = "Could not connect"
            record_button.textContent = "Start"
            isFirstClick = true
          }

          socket.onopen = (event) => {
            console.log("selam")
            sockets.push(socket) // Push the newly created websocket to the array so it can be accessed globally.
            socket.onmessage = (event) => { // Initialize the on message event
            insert.textContent = event.data
            }
            main()
            .then(() => {
              // Once VAD is created and started:
              isFirstClick = false;
              status.textContent = "Start Speaking";
              record_button.textContent = "Pause";
            })
            .catch((error) => {
              console.error("Error starting VAD:", error);
            });
          }

        } else if (myvad.listening) {
          myvad.pause();
          sockets[0].send("Pause");
          status.textContent = "Paused."
          record_button.textContent = "Continue";
        } else if (!myvad.listening) {
          myvad.start();
          status.textContent = "Speak"
          record_button.textContent = "Pause";
        }
      };

      stop_button.onclick = () => {
        sockets[0].send("Stop")
        sockets[0].onerror = null // remove event handlers so that 
        sockets.pop()
        
        status.textContent = "Stopped Session, press start for a new session."
        myvad.pause()
        record_button.textContent = "Start"
        isFirstClick = true

      }
    </script>
    
</body>
</html>

